<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechNest Store</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="site-header">
        <div class="header-left">
            <img src="img/logo.png" alt="Store Logo" class="logo">
            <h1 class="store-name">TechNest Store</h1>
        </div>

        <nav class="main-nav">
            <a href="/">Home</a>
            <a href="/cart" class="{{CART_CLASS}}">Cart</a>
        </nav>
    </header>

    <section class="banner">
        <div class="banner-content">
            <h2 class="store-name banner-title">Welcome to the TechNest</h2>

        </div>
    </section>

    <main class="container">
        <section class="product-grid">
            <a href="/product/1" class="product-card">
                <img src="/img/mouse.png" alt="Wireless Ergonomic Mouse">
            </a>

            <a href="/product/2" class="product-card">
                <img src="/img/keyboard.png" alt="Mechanical RGB Keyboard">
            </a>

            <a href="/product/3" class="product-card">
                <img src="/img/usbc_hub.png" alt="7-Port USB-C Hub">
            </a>

            <a href="/product/4" class="product-card">
                <img src="/img/laptop_stand.png" alt="Aluminum Laptop Stand">
            </a>
        </section>
    </main>

    <footer class="site-footer">
        <p>&copy; 2026 TechNest Store. All rights reserved.</p>
    </footer>

    <script src="js/script.js"></script>
</body>

</html>